name: Unit Tests

permissions:
  contents: read

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    branches: [main]

jobs:
  unit-tests:
    # Skip release PRs created by release-please and skip draft PRs
    if: ${{ !startsWith(github.head_ref, 'release-please--') && github.event.pull_request.draft == false }}
    environment: test
    env:
      NODE_ENV: test
      VITE_PUBLIC_POSTHOG_KEY: ${{ secrets.VITE_PUBLIC_POSTHOG_KEY }}
      VITE_PUBLIC_POSTHOG_HOST: ${{ secrets.VITE_PUBLIC_POSTHOG_HOST }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Format check
        run: pnpm fmt-check

      - name: Run unit tests
        run: pnpm test

      - name: Build and create extension package
        run: pnpm zip
